<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ page.title }} | Gendered Intelligence</title>
	<meta name="Description" content="Gendered Intelligence is a registered charity (1182558) that works to increase understandings of gender diversity and improve the lives of trans people.">
	<meta name="keywords" content="gendered, trans youth, community, arts, equality, gender identity, sexuality, age, abilities and disabilities, ethnic background, faith and beliefs, trans, trans london, trans uk">
	<meta name="Robots" content="ALL">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/png" href="favicon">

	<link href="/static/css/bootstrap2.css" rel="stylesheet" type="text/css">

	<link href="/static/css/newmenu.css" rel="stylesheet" type="text/css">
	
	<link href="/static/css/all.css" rel="stylesheet">
	<link href="/static/css/responsive.css" rel="stylesheet" type="text/css">
	<link href="/static/css/main2.css" rel="stylesheet" type="text/css">
	<script async defer data-domain="genderedintelligence.co.uk" src="https://plausible.io/js/plausible.js"></script>
</head>
<body>
	<div class="container">
		<center><a href="/index.html"><script src="/static/javascripts/lottie-player.js"></script>
<lottie-player src="/static/images/2021/logo homepage animation.json"  background="transparent"  speed="1"  style="width: 50%"  loop autoplay></lottie-player></a></center>

		 <div class="nav">
<nav>
        <a href="javascript:void(0);" class="mobile-menu-trigger">Menu</a>
      
            
              <ul class="menu menu-bar">
		       
		      <li>
                <a href="javascript:void(0);" class="menu-link menu-bar-link" aria-haspopup="true">About</a>
                <ul class="mega-menu mega-menu--multiLevel">
                    <li>
                        <a href="javascript:void(0);" class="menu-link mega-menu-link" aria-haspopup="true">About Us</a>
                        <ul class="menu menu-list">
                            <li>
                                <a href="https://genderedintelligence.co.uk/about-us/our-aims.html" class="menu-link menu-list-link">Our Story</a>
                            </li>
                            <li>
                                <a href="https://genderedintelligence.co.uk/about-us/the-team.html" class="menu-link menu-list-link">Meet the Team</a>
                    
                            </li>
                            <li>
                                <a href="https://genderedintelligence.co.uk/about-us/funding.html" class="menu-link menu-list-link">Funding</a>
                            </li>
 <li>
                                <a href="https://genderedintelligence.co.uk/about-us/reports-and-resources.html" class="menu-link menu-list-link">Reports & resources</a>
                            </li>
 <li>
                                <a href="https://genderedintelligence.co.uk/about/conferences.html" class="menu-link menu-list-link">Conferences</a>
                            </li>
                        </ul>
                    </li>

			
			         <li>
                        <a href="javascript:void(0);" class="menu-link mega-menu-link" aria-haspopup="true">Contact</a>
                        <ul class="menu menu-list">
                            <li>
                                <a href="https://genderedintelligence.co.uk/contact/contact.html" class="menu-link menu-list-link">Email</a>
                            </li>
                           <li>
                        <a href="javascript:void(0);" class="menu-link mega-menu-link" aria-haspopup="true">Social Media</a>
                        <ul class="menu menu-list">
                            <li>
                                <a href="https://twitter.com/Genderintell" class="menu-link menu-list-link">Twitter</a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/genderedintelligence/" class="menu-link menu-list-link">Instagram</a>
                            </li>
				   <li>
                                <a href="https://www.facebook.com/GenderedIntelligence" class="menu-link menu-list-link">Facebook</a>
                            </li>
				   <li>
                                <a href="https://www.linkedin.com/company/gendered-intelligence/" class="menu-link menu-list-link">Linkedin</a>
                            </li>
                        </ul>
                    </li>
				   <li>
                                <a href="https://genderedintelligence.co.uk/contact/media.html" class="menu-link menu-list-link">Media inquiries</a>
                            </li>
				   <li>
                                <a href="https://genderedintelligence.co.uk/contact/casting.html" class="menu-link menu-list-link">Casting calls</a>
                            </li>
				   <li>
                                <a href="https://genderedintelligence.co.uk/contact/mailing-list.html" class="menu-link menu-list-link">Mailing list</a>
                            </li>
				   <li>
                                <a href="https://genderedintelligence.co.uk/contact/office.html" class="menu-link menu-list-link">Office details</a>
                            </li>
                        </ul>
                    </li>
			
			 <li>
                        <a href="https://genderedintelligence.co.uk/about/join-the-team.html" class="menu-link mega-menu-link">Join the team</a>
                    </li>
			 <li>
                        <a href="javascript:void(0);" class="menu-link mega-menu-link" aria-haspopup="true">Resources</a>
                        <ul class="menu menu-list">
                            <li>
                                <a href="https://genderedintelligence.co.uk/resources/covid19.html" class="menu-link menu-list-link">COVID-19 Resources Hub</a>
                            </li>
                            <li>
                                <a href="https://genderedintelligence.co.uk/professionals/resources.html" class="menu-link menu-list-link">For professionals</a>
                            </li>
				   <li>
                                <a href="https://genderedintelligence.co.uk/trans-youth/resources.html" class="menu-link menu-list-link">For young people</a>
                            </li>
				   <li>
                                <a href="https://genderedintelligence.co.uk/about-us/reports-and-resources.html" class="menu-link menu-list-link">Annual reports</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="menu-link mega-menu-link" aria-haspopup="true">Policies</a>
                        <ul class="menu menu-list">
                            <li>
                                <a href="https://genderedintelligence.co.uk/data.html" class="menu-link menu-list-link">Date protection</a>
                            </li>
                            <li>
                                <a href="https://genderedintelligence.co.uk/safeguarding.html" class="menu-link menu-list-link">Safeguarding</a>
                            </li>
                        </ul>
                    </li>
                  
                    <li class="mobile-menu-back-item">
                        <a href="javascript:void(0);" class="menu-link mobile-menu-back-link">Back</a>
                    </li>
                </ul>
            </li>
		      
		      
		  <li>
                <a href="javascript:void(0);" class="menu-link menu-bar-link" aria-haspopup="true">Support Us</a>
                <ul class="mega-menu mega-menu--multiLevel">
			 <li>
                        <a href="https://genderedintelligence.co.uk/support-us/donate.html" class="menu-link mega-menu-link">Donate</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="menu-link mega-menu-link" aria-haspopup="true">Volunteer</a>
                        <ul class="menu menu-list">
                            <li>
                                <a href="https://genderedintelligence.co.uk/support-us/volunteer.html" class="menu-link menu-list-link">General Volunteering</a>
                            </li>
                            <li>
                                <a href="https://genderedintelligence.co.uk/support-us/youthgroupvolunteer.html" class="menu-link menu-list-link">Youth Group Volunteering</a>
                    
                            </li>
                        </ul>
                    </li>
			
			 
                    <li class="mobile-menu-back-item">
                        <a href="javascript:void(0);" class="menu-link mobile-menu-back-link">Back</a>
                    </li>
                </ul>
            </li>
		      
	   
		      
		      
		      
		      
		      
		      
		      
		    
            <li>
                <a href="javascript:void(0);" class="menu-link menu-bar-link" aria-haspopup="true">Young People & Families</a>
                <ul class="mega-menu mega-menu--flat">
                    <li>
                     <b><u>  <a class="menu-link mega-menu-link mega-menu-header" href="#">Young people</a></b></u>
                        <ul class="menu menu-list">
                         
                            <li>
                                <a href="https://genderedintelligence.co.uk/support/trans-youth.html" class="menu-link menu-list-link">Support for young people</a>
                            </li>
				 <li>
                                <a href="https://genderedintelligence.co.uk/trans-youth/youth-group.html" class="menu-link menu-list-link">Youth groups</a>
                            </li>
                            <li>
                                <a href="https://genderedintelligence.co.uk/camping.html" class="menu-link menu-list-link">Camping trips</a>
                            </li>
				  <li>
                                <a href="https://genderedintelligence.co.uk/trans-youth/resources.html" class="menu-link menu-list-link">Resources</a>
                            </li>
                        </ul>
                    </li>
                    <li style="border-left:1px solid black; border-right:1px solid black">
                      <b><u>  <a class="menu-link mega-menu-link mega-menu-header" href="#">Families</a></b></u>
                        <ul class="menu menu-list">
                            <li>
                                <a href="https://genderedintelligence.co.uk/families/group.html" class="menu-link menu-list-link">Support for families</a>
                            </li>
                            <li>
                                <a href="https://genderedintelligence.co.uk/parent-workshop.html" class="menu-link menu-list-link">Parents' workshop</a>
                            </li>
                            <li>
                                <a href="https://genderedintelligence.co.uk/support/families-resources.html" class="menu-link menu-list-link">Resources</a>
                            </li>
                        </ul>
                    </li> <li>
                  <b><u>     <a class="menu-link mega-menu-link mega-menu-header" href="#">education</a></b></u>
                        <ul class="menu menu-list">
                            <li>
                                <a href="https://genderedintelligence.co.uk/support/education-schools.html" class="menu-link menu-list-link">Support for Teachers</a>
                            </li>
                            <li>
                                <a href="https://genderedintelligence.co.uk/residential-resource.html" class="menu-link menu-list-link">Residentials Resource</a>
                            </li>
                    
                        </ul>
                    </li>
                    <li class="mobile-menu-back-item">
                        <a href="javascript:void(0);" class="menu-link mobile-menu-back-link">Back</a>
                    </li>
                </ul>
            </li>      
		      
		            
		      
		      
		      
		    
            <li>
                <a href="javascript:void(0);" class="menu-link menu-bar-link" aria-haspopup="true">For Professionals</a>
                <ul class="mega-menu mega-menu--flat">
                    <li>
                     <b><u>  <a class="menu-link mega-menu-link mega-menu-header" href="#">Training and consultancy</a></b></u>
                        <ul class="menu menu-list">
                         
                            <li>
                                <a href="https://genderedintelligence.co.uk/professionals/overview.html" class="menu-link menu-list-link">Overview of services</a>
                            </li>
				 <li>
                                <a href="https://genderedintelligence.co.uk/professionals/training.html" class="menu-link menu-list-link">Trans Awareness Training</a>
                            </li>
                            <li>
                                <a href="https://genderedintelligence.co.uk/onlinecourses.html" class="menu-link menu-list-link">Online training & remote services</a>
                            </li>
				  <li>
                                <a href="https://genderedintelligence.co.uk/professionals/policy.html" class="menu-link menu-list-link">Consultancy - trans inclusion & equality</a>
                            </li>
				      <li>
                                <a href="https://genderedintelligence.co.uk/professionals/speakers.html" class="menu-link menu-list-link">Speakers and panellists</a>
                            </li>
                        </ul>
                    </li>
                    <li style="border-left:1px solid black; border-right:1px solid black">
                    <b><u>  <a class="menu-link mega-menu-link mega-menu-header" href="#">Education</a></b></u>
                        <ul class="menu menu-list">
                            <li>
                                <a href="https://genderedintelligence.co.uk/professionals/education.html" class="menu-link menu-list-link">Education and other youth settings</a>
                            </li>
                      
                            <li>
                                <a href="https://genderedintelligence.co.uk/professionals/mentoring.html" class="menu-link menu-list-link">Mentoring scheme</a>
                            </li>
				
                        </ul>
                    </li> <li>
               <b><u>     <a class="menu-link mega-menu-link mega-menu-header" href="#">resources</a></b></u>
                        <ul class="menu menu-list">
                            <li>
                                <a href="https://genderedintelligence.co.uk/professionals/partnerships.html" class="menu-link menu-list-link">Partnerships</a>
                            </li>
                            <li>
                                <a href="https://genderedintelligence.co.uk/sport.html" class="menu-link menu-list-link">Sport & physical activity</a>
                            </li>
				     <li>
                                <a href="https://genderedintelligence.co.uk/professionals/resources.html" class="menu-link menu-list-link">Resources</a>
                            </li>
				     <li>
                                <a href="https://genderedintelligence.co.uk/professionals/mailinglist.html" class="menu-link menu-list-link">Professional Services mailing list</a>
                            </li>
                    
                        </ul>
                    </li>
                    <li class="mobile-menu-back-item">
                        <a href="javascript:void(0);" class="menu-link mobile-menu-back-link">Back</a>
                    </li>
                </ul>
            </li>      
		      
		
		      
		                  <li>
                <a href="javascript:void(0);" class="menu-link menu-bar-link" aria-haspopup="true">Educational Settings</a>
                <ul class="mega-menu mega-menu--multiLevel">
			 <li>
                        <a href="https://genderedintelligence.co.uk/support/education-schools.html" class="menu-link mega-menu-link">Overview</a>
                    </li
				  <li>
                        <a href="https://genderedintelligence.co.uk/professionals/schools-and-youth-services/creative-workshops.html" class="menu-link mega-menu-link">Workshops and assemblies</a>
                    </li>
			 <li>
                        <a href="https://genderedintelligence.co.uk/professionals/mentoring.html" class="menu-link mega-menu-link">Mentoring</a>
                    </li>
			 <li>
                        <a href="https://genderedintelligence.co.uk/education/training.html" class="menu-link mega-menu-link">Training</a>
                    </li>
			 <li>
                        <a href="https://genderedintelligence.co.uk/education/professional-consultancy.html" class="menu-link mega-menu-link">Professional Consultancy</a>
                    </li>
                   
                        </ul>
                    </li>
		        <li class="mobile-menu-back-item">
                        <a href="javascript:void(0);" class="menu-link mobile-menu-back-link">Back</a>
                    </li>

            </li>      	     
		      
	   <li>
                <a href="javascript:void(0);" class="menu-link menu-bar-link" aria-haspopup="true">Projects</a>
                <ul class="mega-menu mega-menu--flat">
                    <li>
                   <b><u>  <a class="menu-link mega-menu-link mega-menu-header" href="#">Current</a></b></u>
                        <ul class="menu menu-list">
                         
                    <li>
                                <a href="https://genderedintelligence.co.uk/projects/quality-of-life-survey" class="menu-link menu-list-link">Quality of Life Survey</a>
                            </li>
                       
                            <li>
                                <a href="https://genderedintelligence.co.uk/projects/GIANTS.html" class="menu-link menu-list-link">GIANTS</a>
                            </li>
 <li>
                                <a href="https://genderedintelligence.co.uk/project/trans-inclusion-in-sport.html" class="menu-link menu-list-link">Trans inclusion in sports</a>
                            </li>
 <li>
                                <a href="https://genderedintelligence.co.uk/projects/collective-resilience.html" class="menu-link menu-list-link">Collective Resilience: 18-30 therapy group</a>
                            </li>
                        </ul>
                    </li>
                    <li style="border-left:1px solid black; border-right:1px solid black">
                    <b><u>  <a class="menu-link mega-menu-link mega-menu-header" href="#">Past</a></b></u>
                        <ul class="menu menu-list">
                            <li>
                                <a href="http://transacting.co.uk/" class="menu-link menu-list-link">TransActing</a>
                            </li>
                            <li>
                                <a href="https://genderedintelligence.co.uk/AdventuresTimeGender.html" class="menu-link menu-list-link">Adventures in Time and Gender</a>
                    
                            </li>
                            <li>
                                <a href="https://genderedintelligence.co.uk/projects/kip.html" class="menu-link menu-list-link">Knowledge is Power</a>
                            </li>
 <li>
                                <a href="https://genderedintelligence.co.uk/transvengers.html" class="menu-link menu-list-link">Transvengers at The Wellcome Collection</a>
                            </li>
 <li>
                                <a href="https://genderedintelligence.co.uk/projects/the-corpse-project.html" class="menu-link menu-list-link">The Corpse Project</a>
                            </li>
			
                        </ul>
                    </li> <li>
                <b><u>     <a class="menu-link mega-menu-link mega-menu-header" href="#">Special projects</a></b></u>
                        <ul class="menu menu-list">
                            <li>
                                <a href="https://genderedintelligence.co.uk/projects/supportline.html" class="menu-link menu-list-link">Support line</a>
                            </li>
				 <li>
                                <a href="https://genderedintelligence.co.uk/projects/project-list.html" class="menu-link menu-list-link">Special Projects</a>
                            </li>
                          
                    
                        </ul>
                    </li>
                    <li class="mobile-menu-back-item">
                        <a href="javascript:void(0);" class="menu-link mobile-menu-back-link">Back</a>
                    </li>
                </ul>
            </li>      	     
		
             <li>
                <a href="javascript:void(0);" class="menu-link menu-bar-link" aria-haspopup="true">Therapists and Counsellors</a>
                <ul class="mega-menu mega-menu--multiLevel">
			 <li>
                        <a href="https://genderedintelligence.co.uk/professionals/therapists-and-counsellors.html" class="menu-link mega-menu-link">Network</a>
                    </li
				  <li>
                        <a href="https://genderedintelligence.co.uk/professionals/therapists-and-counsellors/training.html" class="menu-link mega-menu-link">Training</a>
                    </li>
			 <li>
                        <a href="https://genderedintelligence.co.uk/professionals/therapists-and-counsellors/directory.html" class="menu-link mega-menu-link">Directory</a>
                    </li>
                   
                        </ul>
                    </li>
		   
			
	   
		  <li>
                <a href="javascript:void(0);" class="menu-link menu-bar-link" aria-haspopup="true">Public Engagement</a>
                <ul class="mega-menu mega-menu--multiLevel">
			 <li>
                        <a href="https://genderedintelligence.co.uk/services/publicengagement.html" class="menu-link mega-menu-link">Overview</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="menu-link mega-menu-link" aria-haspopup="true">Campaigns</a>
                        <ul class="menu menu-list">
                            <li>
                                <a href="https://genderedintelligence.co.uk/ourcampaigns.html" class="menu-link menu-list-link">Our Campaigns</a>
                            </li>
                            <li>
                                <a href="https://genderedintelligence.co.uk/campaigns/baeb.html" class="menu-link menu-list-link">BAEB</a>
                    
                            </li>
				  <li>
                                <a href="https://genderedintelligence.co.uk/briefings.html" class="menu-link menu-list-link">Briefings and guides</a>
                    
                            </li>
				  <li>
                                <a href="https://genderedintelligence.co.uk/gra/ourresponse.html" class="menu-link menu-list-link">Our responses to the GRA</a>
                    
                            </li>
                        </ul>
                    </li>
			
			 
                    <li class="mobile-menu-back-item">
                        <a href="javascript:void(0);" class="menu-link mobile-menu-back-link">Back</a>
                    </li>
                </ul>
            </li>
	
	 <li>
                <a href="javascript:void(0);" class="menu-link menu-bar-link" aria-haspopup="true">About</a>
                <ul class="mega-menu mega-menu--multiLevel">
                    			
			         <li>
                        <a href="javascript:void(0);" class="menu-link mega-menu-link" aria-haspopup="true">Contact</a>
                        <ul class="menu menu-list">
                            <li>
                                <a href="https://genderedintelligence.co.uk/contact/contact.html" class="menu-link menu-list-link">Email</a>
                            </li>
                           <li>
                        <a href="javascript:void(0);" class="menu-link mega-menu-link" aria-haspopup="true">Social Media</a>
                        <ul class="menu menu-list">
                            <li>
                                <a href="https://twitter.com/Genderintell" class="menu-link menu-list-link">Twitter</a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/genderedintelligence/" class="menu-link menu-list-link">Instagram</a>
                            </li>
				   <li>
                                <a href="https://www.facebook.com/GenderedIntelligence" class="menu-link menu-list-link">Facebook</a>
                            </li>
				   <li>
                                <a href="https://www.linkedin.com/company/gendered-intelligence/" class="menu-link menu-list-link">Linkedin</a>
                            </li>
                        </ul>
                    </li>
				   <li>
                                <a href="https://genderedintelligence.co.uk/contact/media.html" class="menu-link menu-list-link">Media inquiries</a>
                            </li>
				   <li>
                                <a href="https://genderedintelligence.co.uk/contact/casting.html" class="menu-link menu-list-link">Casting calls</a>
                            </li>
				   <li>
                                <a href="https://genderedintelligence.co.uk/contact/mailing-list.html" class="menu-link menu-list-link">Mailing list</a>
                            </li>
				   <li>
                                <a href="https://genderedintelligence.co.uk/contact/office.html" class="menu-link menu-list-link">Office details</a>
                            </li>
                        </ul>
                    </li>
	
                  
                    <li class="mobile-menu-back-item">
                        <a href="javascript:void(0);" class="menu-link mobile-menu-back-link">Back</a>
                    </li>
                </ul>
            </li>
	
	
            <li class="mobile-menu-header">
                <a href="/index.html" class="">
                    <span>Home</span>
                </a>
        </ul>
		</nav></center>
</div>
		
			</center>
<div class="content">
	{{ content }}
</div> 
			
<hr>
<div class="bottom-boxes row-fluid">

	<div class="span3">
		<h3>Support Us</h3>
		<p>Become a friend of Gendered Intelligence.</p>
		<a class="donate" href="/support-us/donate.html">donate here</a>
	</div>

	<div class="span3">
		<h3>Volunteer</h3>
		<p>Find out about volunteering for Gendered Intelligence.</p>
		<a class="donate" href="/support-us/volunteer.html">find out more</a>
	</div>

	<div class="span3">
		<h3>Training</h3>
		<p>Training for professionals on trans issues.</p>
		<a class="donate" href="/professionals/training.html">professional development</a>
	</div>

	<div class="span3">
		<h3>Keep up to date</h3>
		<p>Be first to know what we're up to - join our mailing list.</p>
		<a class="donate" href="/contact/mailing-list.html">mailing list</a>
	</div>
</div>


<div class="a2a_kit a2a_kit_size_32 a2a_floating_style a2a_default_style a2a_follow" style="bottom:0px; right:0px; background:transparent; padding: 0px;">
    <a class="a2a_button_instagram" data-a2a-follow="genderedintelligence"></a>
    <a class="a2a_button_facebook" data-a2a-follow="genderedintelligence"></a>
    <a class="a2a_button_twitter" data-a2a-follow="genderintell"></a>  
    <a class="a2a_button_linkedin_company" data-a2a-follow="gendered-intelligence"></a>
</div>

<script async src="https://static.addtoany.com/menu/page.js"></script>

<div id="out" style="position: fixed; top: 0px; right: 0px; padding: 0px; background: transparent;">
	<a class="btn btn-secondary" href="http://www.bbc.co.uk/news/">Get me out of here</a>
</div>
</div>
<div id="holder" class="">
</div>
<footer class="container">
	<div class="row-fluid">
		<p class="span6">
			&copy; Gendered Intelligence 2009-21 &mdash;
			All rights reserved
		</p>
		</p>
	</div>
</footer>
<script src="/static/javascripts/main.js" type="text/javascript"></script>
</body>
</html>
