<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ page.title }} | Gendered Intelligence</title>
	<meta name="Description" content="Gendered Intelligence is a registered charity (1182558) that works to increase understandings of gender diversity and improve the lives of trans people.">
	<meta name="keywords" content="gendered, trans youth, community, arts, equality, gender identity, sexuality, age, abilities and disabilities, ethnic background, faith and beliefs, trans, trans london, trans uk">
	<meta name="Robots" content="ALL">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/png" href="favicon">

	<link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css">

	<link href="/static/css/newmenu.css" rel="stylesheet" type="text/css">
	
	<link href="/static/css/all.css" rel="stylesheet">
	<link href="/static/css/responsive.css" rel="stylesheet" type="text/css">
	<link href="/static/css/main.css" rel="stylesheet" type="text/css">
	<script async defer data-domain="genderedintelligence.co.uk" src="https://plausible.io/js/plausible.js"></script>
</head>
<body>
	<div class="container">
		<center><a href="/index.html"><script src="/static/javascripts/lottie-player.js"></script>
<lottie-player src="/static/images/2021/logo homepage animation.json"  background="transparent"  speed="1"  style="width: 50%"  loop autoplay></lottie-player></a></center>

		 <div class="nav">
<nav>
        <a href="javascript:void(0);" class="mobile-menu-trigger">Menu</a>
      
            
              <ul class="menu menu-bar">
		        <li>
                <a href="/index.html" class="menu-link menu-bar-link">Home</a>
            </li>
		      <li>
                <a href="javascript:void(0);" class="menu-link menu-bar-link" aria-haspopup="true">About</a>
                <ul class="mega-menu mega-menu--multiLevel">
                    <li>
                        <a href="javascript:void(0);" class="menu-link mega-menu-link" aria-haspopup="true">About Us</a>
                        <ul class="menu menu-list">
                            <li>
                                <a href="https://genderedintelligence.co.uk/about-us/our-aims.html" class="menu-link menu-list-link">Our Story</a>
                            </li>
                            <li>
                                <a href="https://genderedintelligence.co.uk/about-us/the-team.html" class="menu-link menu-list-link">Meet the Team</a>
                    
                            </li>
                            <li>
                                <a href="https://genderedintelligence.co.uk/about-us/funding.html" class="menu-link menu-list-link">Funding</a>
                            </li>
 <li>
                                <a href="https://genderedintelligence.co.uk/about-us/reports-and-resources.html" class="menu-link menu-list-link">Reports & resources</a>
                            </li>
 <li>
                                <a href="https://genderedintelligence.co.uk/about/conferences.html" class="menu-link menu-list-link">Conferences</a>
                            </li>
                        </ul>
                    </li>
 <li>
                        <a href="https://genderedintelligence.co.uk/about/join-the-team.html" class="menu-link mega-menu-link">Join the team</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="menu-link mega-menu-link" aria-haspopup="true">Policies</a>
                        <ul class="menu menu-list">
                            <li>
                                <a href="https://genderedintelligence.co.uk/data.html" class="menu-link menu-list-link">Date protection</a>
                            </li>
                            <li>
                                <a href="https://genderedintelligence.co.uk/safeguarding.html" class="menu-link menu-list-link">Safeguarding</a>
                            </li>
                        </ul>
                    </li>
                  
                    <li class="mobile-menu-back-item">
                        <a href="javascript:void(0);" class="menu-link mobile-menu-back-link">Back</a>
                    </li>
                </ul>
            </li>
		      
		      
		  <li>
                <a href="javascript:void(0);" class="menu-link menu-bar-link" aria-haspopup="true">Support Us</a>
                <ul class="mega-menu mega-menu--multiLevel">
			 <li>
                        <a href="https://genderedintelligence.co.uk/about/join-the-team.html" class="menu-link mega-menu-link">Donate</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="menu-link mega-menu-link" aria-haspopup="true">Volunteer</a>
                        <ul class="menu menu-list">
                            <li>
                                <a href="https://genderedintelligence.co.uk/about-us/our-aims.html" class="menu-link menu-list-link">General Volunteering</a>
                            </li>
                            <li>
                                <a href="https://genderedintelligence.co.uk/about-us/the-team.html" class="menu-link menu-list-link">Youth Group Volunteering</a>
                    
                            </li>
                        </ul>
                    </li>
			
			 
                    <li class="mobile-menu-back-item">
                        <a href="javascript:void(0);" class="menu-link mobile-menu-back-link">Back</a>
                    </li>
                </ul>
            </li>
		                 <li>
                <a href="javascript:void(0);" class="menu-link menu-bar-link" aria-haspopup="true">Work in Education</a>
                <ul class="mega-menu mega-menu--flat">
                    <li>
                        <a href="#" class="menu-link mega-menu-link mega-menu-header">Overview</a>
                        <ul class="menu menu-list">
                            <li>
                                <a href="/page" class="menu-link menu-list-link">
                            Workshops<br />
                                    <small>Short decription of link</small>
                                </a>
                            </li>
                            <li>
                                <a href="/page" class="menu-link menu-list-link">
                                   Mentoring<br />
                                    <small>Short decription of link</small>
                                </a>
                            </li>
                            <li>
                                <a href="/page" class="menu-link menu-list-link">
                                Training<br />
                                    <small>Short decription of link</small>
                                </a>
                            </li>
				  <li>
                                <a href="/page" class="menu-link menu-list-link">
                              Professional consultancy<br />
                                    <small>Short decription of link</small>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="mega-menu-content">
                        <p class="mega-menu-header">Our work in education</p>
                        <p>Our work in schools, colleges, universities and other educational settings.<br><br>

Includes training and consultancy for staff; one-to-one mentoring for young trans, non-binary and gender questioning young people; and workshops, lectures and assemblies for students.</p>
                    </li>
                    <li class="mobile-menu-back-item">
                        <a href="javascript:void(0);" class="menu-link mobile-menu-back-link">Back</a>
                    </li>
                </ul>
            </li>
                  
		      
		       <ul class="menu menu-bar">
            <li>
                <a href="javascript:void(0);" class="menu-link menu-bar-link" aria-haspopup="true">Projects</a>
                <ul class="mega-menu mega-menu--multiLevel">
                    <li>
                        <a href="javascript:void(0);" class="menu-link mega-menu-link" aria-haspopup="true">Current</a>
                        <ul class="menu menu-list">
                            <li>
                                <a href="https://genderedintelligence.co.uk/about-us/our-aims.html" class="menu-link menu-list-link">Quality of Life stufy</a>
                            </li>
                            <li>
                                <a href="https://genderedintelligence.co.uk/about-us/the-team.html" class="menu-link menu-list-link">Support Line</a>
                    
                            </li>
                            <li>
                                <a href="https://genderedintelligence.co.uk/about-us/funding.html" class="menu-link menu-list-link">GIANTS</a>
                            </li>
 <li>
                                <a href="https://genderedintelligence.co.uk/about-us/reports-and-resources.html" class="menu-link menu-list-link">Trans in sports</a>
                            </li>
 <li>
                                <a href="https://genderedintelligence.co.uk/about/conferences.html" class="menu-link menu-list-link">Collective Resilience</a>
                            </li>
                        </ul>
                    </li>
			
			 <li>
                        <a href="javascript:void(0);" class="menu-link mega-menu-link" aria-haspopup="true">Past</a>
                        <ul class="menu menu-list">
                            <li>
                                <a href="https://genderedintelligence.co.uk/about-us/our-aims.html" class="menu-link menu-list-link">TransActing</a>
                            </li>
                            <li>
                                <a href="https://genderedintelligence.co.uk/about-us/the-team.html" class="menu-link menu-list-link">Adventures</a>
                    
                            </li>
                            <li>
                                <a href="https://genderedintelligence.co.uk/about-us/funding.html" class="menu-link menu-list-link">KIP</a>
                            </li>
 <li>
                                <a href="https://genderedintelligence.co.uk/about-us/reports-and-resources.html" class="menu-link menu-list-link">Transvengers</a>
                            </li>
 <li>
                                <a href="https://genderedintelligence.co.uk/about/conferences.html" class="menu-link menu-list-link">Corpse Project</a>
                            </li>
				 <li>
                                <a href="https://genderedintelligence.co.uk/about/conferences.html" class="menu-link menu-list-link">Special Projects</a>
                            </li>
                        </ul>
                    </li>

                  
                    <li class="mobile-menu-back-item">
                        <a href="javascript:void(0);" class="menu-link mobile-menu-back-link">Back</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="javascript:void(0);" class="menu-link menu-bar-link" aria-haspopup="true">Therapists & Counsellors</a>
                <ul class="mega-menu mega-menu--flat">
                    <li>
                        <a href="https://genderedintelligence.co.uk/professionals/therapists-and-counsellors.html" class="menu-link mega-menu-link mega-menu-header">Network</a>
                       
                    </li>
                    <li>
                        <a href="https://genderedintelligence.co.uk/professionals/therapists-and-counsellors/training.html" class="menu-link mega-menu-link mega-menu-header">Training</a>
                        
                    </li>
                    <li>
                        <a href="https://genderedintelligence.co.uk/professionals/therapists-and-counsellors/directory.html" class="menu-link mega-menu-link mega-menu-header">Directory</a>
                 
                    </li>
                    <li class="mobile-menu-back-item">
                        <a href="javascript:void(0);" class="menu-link mobile-menu-back-link">Back</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="javascript:void(0);" class="menu-link menu-bar-link" aria-haspopup="true">Work in Education</a>
                <ul class="mega-menu mega-menu--flat">
                    <li>
                        <a href="#" class="menu-link mega-menu-link mega-menu-header">Overview</a>
                        <ul class="menu menu-list">
                            <li>
                                <a href="/page" class="menu-link menu-list-link">
                            Workshops<br />
                                    <small>Short decription of link</small>
                                </a>
                            </li>
                            <li>
                                <a href="/page" class="menu-link menu-list-link">
                                   Mentoring<br />
                                    <small>Short decription of link</small>
                                </a>
                            </li>
                            <li>
                                <a href="/page" class="menu-link menu-list-link">
                                Training<br />
                                    <small>Short decription of link</small>
                                </a>
                            </li>
				  <li>
                                <a href="/page" class="menu-link menu-list-link">
                              Professional consultancy<br />
                                    <small>Short decription of link</small>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="mega-menu-content">
                        <p class="mega-menu-header">Our work in education</p>
                        <p>Our work in schools, colleges, universities and other educational settings.<br><br>

Includes training and consultancy for staff; one-to-one mentoring for young trans, non-binary and gender questioning young people; and workshops, lectures and assemblies for students.</p>
                    </li>
                    <li class="mobile-menu-back-item">
                        <a href="javascript:void(0);" class="menu-link mobile-menu-back-link">Back</a>
                    </li>
                </ul>
            </li>
          
            <li>
                <a href="/index.html" class="menu-link menu-bar-link">Home</a>
            </li>

            <li class="mobile-menu-header">
                <a href="/index.html" class="">
                   Home
                </a>
            </li>
        </ul>
		</nav></center>
</div>
			</center>
<div class="content">
	{{ content }}
</div> 
			
<hr>
<div class="bottom-boxes row-fluid">

	<div class="span3">
		<h3>Support Us</h3>
		<p>Become a friend of Gendered Intelligence.</p>
		<a class="donate" href="/support-us/donate.html">donate here</a>
	</div>

	<div class="span3">
		<h3>Volunteer</h3>
		<p>Find out about volunteering for Gendered Intelligence.</p>
		<a class="donate" href="/support-us/volunteer.html">find out more</a>
	</div>

	<div class="span3">
		<h3>Training</h3>
		<p>Training for professionals on trans issues.</p>
		<a class="donate" href="/professionals/training.html">professional development</a>
	</div>

	<div class="span3">
		<h3>Keep up to date</h3>
		<p>Be first to know what we're up to - join our mailing list.</p>
		<a class="donate" href="/contact/mailing-list.html">mailing list</a>
	</div>
</div>


<div class="a2a_kit a2a_kit_size_32 a2a_floating_style a2a_default_style a2a_follow" style="bottom:0px; right:0px; background:transparent; padding: 0px;">
    <a class="a2a_button_instagram" data-a2a-follow="genderedintelligence"></a>
    <a class="a2a_button_facebook" data-a2a-follow="genderedintelligence"></a>
    <a class="a2a_button_twitter" data-a2a-follow="genderintell"></a>  
    <a class="a2a_button_linkedin_company" data-a2a-follow="gendered-intelligence"></a>
</div>

<script async src="https://static.addtoany.com/menu/page.js"></script>

<div id="out" style="position: fixed; top: 0px; right: 0px; padding: 0px; background: transparent;">
	<a class="btn btn-secondary" href="http://www.bbc.co.uk/news/">Get me out of here</a>
</div>
</div>
<div id="holder" class="">
</div>
<footer class="container">
	<div class="row-fluid">
		<p class="span6">
			&copy; Gendered Intelligence 2009-21 &mdash;
			All rights reserved
		</p>
		</p>
	</div>
</footer>
<script src="/static/javascripts/main.js" type="text/javascript"></script>
</body>
</html>
